
td {
    border: 2px solid #333;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    cursor: pointer;
    background-color: gainsboro;
}

.ui-content {
    left: 800px;
    position:absolute;
}
.timer {
    top: 5px;
    display: inline;
}

.endgame {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
}


table {
    border-collapse: collapse;
    position: absolute;
    left:275px;
    bottom: 20px;
}

body {
    background-color: rgba(24, 1, 1, 0.13);
}

header {
	text-align: center;
}

div.easy button {
    background-color: rgba(92, 223, 133, 0.7);
    border-radius: 10px;
    border-color: lightblue;


}
div.medium button {
    background-color: rgba(225, 218, 14, 0.55);
    border-radius: 10px;
    border-color: lightblue;
    
}

div.hard button {
    background-color: rgba(250, 30, 30, 0.6);
    border-radius: 10px;
    border-color: lightblue;
    
}

p {
    font-size: 14px
}