td {
    border: 2px solid #333;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    cursor: pointer;
    background-color: gainsboro;
}

.ui-content {
    left: 800px;
    position:absolute;
}
.timer {
    top: 5px;

}

.endgame {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
}


table {
    border-collapse: collapse;
    position: absolute;
    left:200px;
    margin-left:0px;
    top: 75px;
    margin-bottom: 10%;
}

